<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helloworld2020">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelloWorld2020">
        <activity android:name=".UMichActivity"></activity>
        <activity android:name=".DartmouthActivity" />
        <activity android:name=".HarveyMuddActivity" />
        <activity android:name=".UCLAActivity" />
        <activity android:name=".JHUActivity" />
        <activity android:name=".UChicagoActivity" />
        <activity android:name=".UCBerkeleyActivity" />
        <activity android:name=".TuftsActivity" />
        <activity android:name=".NorthwesternActivity" />
        <activity android:name=".NotreDameActivity" />
        <activity android:name=".WUSTLActivity" />
        <activity android:name=".MITActivity" />
        <activity android:name=".CollegeListActivity" />
        <activity android:name=".Setting" />
        <activity
            android:name=".About"
            android:exported="true"
            android:label="@string/title_activity_about"
            android:theme="@style/Theme.HelloWorld2020.NoActionBar" />
        <activity android:name=".ActBooksActivity" />
        <activity android:name=".SatBooksActivity" />
        <activity android:name=".ActPrepActivity" />
        <activity android:name=".SatPrepActivity" />
        <activity android:name=".StandardizedTestingActivity" />
        <activity android:name=".CollegeListActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".ReminderBroadcast" />
    </application>

</manifest>